.main-container {
  max-width: 960px;
  padding: 0 17px;
  margin: 0 auto;
}

body {
  background: #ffde40;
  min-width: 960px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffde40;
}

.header-container {
  max-width: 1100px;
  padding: 0 17px;
  margin: 0 auto;
}

.header-content {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__logo {
  margin: 10px 0;
}

.header-content__logo img {
  height: 45px;
}

.header-content__menu ul {
  list-style-type: none;
  padding: 0;
}

.header-content__menu ul li {
  display: inline-block;
}

.header-content__menu ul li:not(:last-child) {
  margin-right: 16px;
}

.header-content__menu a {
  text-decoration: none;
  color: #21201f;
  font-weight: 600;
  font-size: 17px;
}

.header-content__btn {
  background: #21201f;
  color: #fff;
  padding: 4px 51px;
  border-radius: 18px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__btn a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.title-content {
  position: relative;
  width: 100%;
  padding-top: 160px;
  text-align: start;
}

.title-content__img {
  width: 100%;
}

.title-content__text {
  max-width: 540px;
  position: absolute;
  bottom: 0;
  font-weight: 900;
  font-size: 36px;
}

.btn {
  height: 147px;
}

.donload-btn {
  padding: 24px 64px;
  background-color: #21201f;
  color: #fff;
  text-decoration: none;
  border-radius: 24px;
  font-size: 24px;
  height: 80px;
  font-weight: 600;
}

.donload-btn:hover {
  color: #eceaea;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-container_hight {
  padding-top: 126px;
  height: 100%;
}

.main-container_padding {
  padding: 0;
}

.location-content {
  width: 100%;
  position: relative;
  font-size: 64px;
  font-weight: 900;
  padding-top: 65px;
  color: #fff;
}

.location-content__img-top {
  position: absolute;
  top: 25px;
  right: calc(50% - 360px);
}

.location-content__img-bottom {
  width: 100%;
  position: absolute;
  left: 28px;
  bottom: -50px;
}

.location-content a {
  color: #fff;
}

.rent-content {
  padding-top: 128px;
}

.rent-content h1 {
  font-weight: 900;
  font-size: 64px;
}

.rent-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 96px;
}

.rent-cards__card {
  font-size: 36px;
  margin-top: 32px;
  max-width: 455px;
  font-weight: 900;
}

.rent-video {
  position: absolute;
  top: 130px;
  left: calc(50% + 120px);
  right: 0;
  max-width: 360px;
  min-height: 645px;
  border-radius: 56px;
}

.rent_img-dec {
  position: absolute;
  left: calc(50% - 93px);
  bottom: -93px;
}

.mob-img {
  display: none;
}

.rent-video_mod {
  display: none;
}

.btn-ready {
  height: 188px;
}

.ready-btn {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #21201f;
  border-radius: 56px;
}

.tariff-content {
  position: relative;
  width: 100%;
  padding-top: 48px;
}

.slide-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.tariff-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  border: 5px solid #21201f;
  padding: 72px 56px;
  height: 396px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 56px;
}

.tariff-card h3 {
  margin: 30px 0px;
  font-size: 36px;
  font-weight: 900;
}

.tariff-card p {
  margin: 0;
  font-style: 22px;
  font-weight: 600;
  line-height: 120%;
}

.dote_mob {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex img {
  width: 85px;
}

.subscription-content_img-mod {
  display: none;
  width: 85px;
}

.tariff-card_black {
  width: 680px;
  background-color: #21201f;
  color: #fff;
  margin-top: 34px;
}

.tariff-card_marg {
  margin-top: 170px;
}

.tariff-card_border {
  border: 5px dashed #21201f;
}

.tariff-card_background-img {
  width: 48%;
  position: absolute;
  right: 0;
  top: 55%;
  border: none;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1368426/10c1c55d-f843-434c-9caf-57c59dfa7cd5/orig");
  background-repeat: no-repeat;
  background-size: cover;
}

.tariff-card_img {
  position: absolute;
  border: none;
  right: 0;
  width: 450px;
  height: 450px;
  bottom: -15%;
  border: 5px solid #21201f;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1674605/57e4c449-5c91-4cf1-89bf-1643586d68fc/orig");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription {
  margin-top: 320px;
  padding-top: 128px;
  padding-bottom: 150px;
  background-image: url("https://avatars.mds.yandex.net/get-lpc/1220100/8afabd62-3e5f-48b5-862d-1aca76d42ef6/orig");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  border-radius: 56px 56px 0 0;
  background-color: #fff;
}

.subscription-content {
  position: relative;
}

.subscription-content h3 {
  font-weight: 900;
  font-size: 84px;
  line-height: 88px;
  color: #21201f;
  max-width: 600px;
}

.subscription-content > p {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #21201f;
  margin-top: 32px;
  max-width: 700px;
}

.subscription-content__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-content__advantage h4 {
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  color: #21201f;
  margin-bottom: 0;
}

.subscription-content__advantage p {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  color: #21201f;
  margin-top: 8px;
}

.subscription-content_img-desc {
  width: 85px;
  position: absolute;
  right: 0;
  top: -50px;
  left: 60%;
  width: 513px;
  height: auto;
  margin-left: 30px;
}

.padding-top {
  position: relative;
  bottom: 50px;
  width: 100%;
  height: 128px;
  background: #ffde40;
  border-radius: 56px 56px 0 0;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.slider-content {
  width: 734px;
  height: 414px;
  border-radius: 32px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_item {
  width: 100%;
  height: 100%;
}

.slider-dote {
  margin: 0 auto;
  position: absolute;
  bottom: -40px;
  left: 65%;
}

.slider-dote span {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: gray;
}

.slider-dote span:hover {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #21201f;
}

.main-container_width {
  max-width: 1100px;
}

.regulations-content {
  background: #fff;
  padding: 56px 56px 177px 93px;
  border-radius: 56px 56px 56px 56px;
  margin-top: -68px;
  color: #21201f;
}

.regulations-content__title {
  max-width: 100%;
  text-align: start;
  font-size: 64px;
  margin-bottom: 72px;
  font-weight: 900;
  line-height: 110%;
}

.regulations-content__live {
  width: 475px;
  bottom: 0;
  left: 45%;
  background: #00CA50;
  position: absolute;
  padding: 83px;
  border-radius: 56px;
}

.regulations-content__live p {
  font-size: 32px;
  color: #fff;
  line-height: 130%;
  font-weight: 600;
}

.regulations-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.regulations-cards__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-bottom: 96px;
}

.regulations-cards__item img {
  margin-bottom: 24px;
}

.regulations-cards__item h5 {
  font-size: 36px;
  font-weight: 900;
  line-height: 110%;
  margin: 0;
  margin-bottom: 16px;
}

.regulations-cards__item p {
  font-size: 22px;
  font-weight: 600;
  max-width: 343px;
}

.div-dec {
  position: relative;
  height: 430px;
}

.map {
  background: #fff;
  border-radius: 56px 56px 0 0;
  margin-top: 56px;
}

.map-content {
  padding-top: 128px;
}

.map-content h4 {
  font-size: 64px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
}

.map-content p {
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 72px;
  font-weight: 600;
}

.map-content img {
  width: 100%;
  border-radius: 56px;
}

.map-qr {
  margin-top: 128px;
}

.map-qr h4 {
  font-size: 64px;
  margin-bottom: 32px;
  max-width: 455px;
  font-weight: 900;
}

.map-qr p {
  font-size: 32px;
  line-height: 130%;
  max-width: 455px;
  font-weight: 600;
  padding-bottom: 48px;
  margin: 0;
}

.map-phone {
  width: 100%;
  padding-top: 130px;
  position: relative;
}

.map-phone__block-yellow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #ffde40;
  border-radius: 56px 56px 0 0;
  z-index: 10;
}

.map-phone__block-black {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 170px;
  background-color: #21201f;
  border-radius: 56px 56px 0 0;
}

.map-phone__video {
  position: absolute;
  bottom: -116px;
  left: 55%;
  z-index: 50;
  width: 360px;
  border-radius: 56px 56px 56px 56px;
  overflow: hidden;
}

.map-phone__video video {
  width: 100%;
  height: 100%;
}

.footer-content {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content p {
  font-size: 13px;
  line-height: 16px;
  color: #21201f;
  font-weight: 600;
  max-width: 600px;
}

.footer-content p a {
  text-decoration: none;
}

.footer-content span {
  font-size: 13px;
  line-height: 16px;
  color: #21201f;
  font-weight: 600;
  max-width: 600px;
}

.footer {
  background: #fafafa;
  position: relative;
  z-index: 70;
}

.btn-mob {
  display: none;
  background: #21201f;
  color: #fff;
  padding: 17px 30px 17px 30px;
  border-radius: 53px;
}

@media (max-width: 1100px) {
  .header-content__menu ul {
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header-content__menu {
    display: none;
  }
  body {
    min-width: 0px;
  }
  .header-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rent-video {
    width: 100%;
    top: 0;
    left: 0;
  }
  .title-content__text {
    position: static;
  }
  .subscription-content_img-desc {
    display: none;
  }
  .subscription-content_img-mod {
    display: block;
    width: 100%;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .flex h3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tariff-card p {
    margin-bottom: 20px;
  }
  .subscription {
    margin-left: 17px;
    margin-right: 17px;
    border-radius: 56px 56px 56px 56px;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .regulations-content {
    padding: 56px 56px 56px 93px;
  }
  .main-container_width {
    padding-bottom: 122px;
    padding-top: 35px;
  }
  .regulations-cards {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .slider-dote {
    left: 45%;
  }
  .subscription-content h3 {
    font-size: 48px;
    line-height: 53px;
  }
  .subscription-content__advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .padding-top {
    display: none;
  }
  .location-content {
    font-size: 48px;
  }
  .location-content {
    width: 95%;
  }
  .rent_img-dec {
    display: none;
  }
  .rent-cards__card__img {
    width: 100%;
  }
  .mob-img {
    display: block;
    position: absolute;
    bottom: -76px;
    left: 15%;
    width: 218px;
    display: block;
  }
  .wid {
    max-width: 200px;
  }
  .ready-btn {
    padding: 24px;
    font-size: 33px;
  }
  .ready-btn {
    height: 50px;
  }
  .tariff-card_background-img {
    position: static;
  }
  .tariff-card_img {
    position: static;
    background-position: bottom;
    background-size: cover;
  }
  .donload-btn {
    padding: 24px 44px;
  }
  .ready-btn {
    font-size: 20px;
  }
  .regulations-content__title {
    font-size: 40px;
  }
  .slide-wrapp {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .tariff-card_marg {
    margin-top: 0;
  }
  .slide-see {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
  }
  .dote_mob {
    display: block;
    position: absolute;
    left: 45%;
    bottom: 0px;
  }
  .dote_mob span {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: gray;
  }
  .wrapper-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper-mob div {
    width: 100%;
  }
  .tariff-card_img {
    min-height: 640px;
  }
  .tariff-card_black {
    position: absolute;
    top: calc(49% + 400px);
    margin: 0;
    bottom: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tariff-card_black > h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  .subscription {
    margin-top: 225px;
  }
  .subscription-content h3 {
    margin: 0;
  }
  .subscription-content p {
    font-size: 25px;
  }
  .location-content {
    padding-left: 17px;
  }
  .regulations-content__live {
    width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
  }
  .regulations-content__live img {
    padding: 21px;
  }
  .regulations-content__live p {
    padding: 45px;
    margin: 0;
    font-size: 21px;
  }
  .div-dec {
    height: 210px;
  }
  .tariff-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 238px;
    padding: 35px;
    margin-top: 15px;
  }
  .tariff-card_background-img {
    margin-bottom: 16px;
  }
  .slider-content {
    width: 100%;
    height: 100%;
  }
  .btn-mob {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 38px;
  }
  .ready-btn {
    width: 90%;
  }
  .location-content__img-bottom {
    width: 90%;
  }
  .location-content__img-top {
    display: none;
  }
  .map-qr {
    display: none;
  }
  .rent-video {
    display: none;
  }
  .rent-video_mod {
    display: block;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .rent-video_mod video {
    width: 100%;
  }
  .tariff-card {
    padding: 27px;
  }
  .map-phone {
    display: none;
  }
  .daw {
    height: 100%;
    display: block;
  }
  .daw h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  .daw p {
    width: 100%;
  }
  .header-content__btn {
    padding: 4px 35px;
  }
  .rent-video_mod {
    width: 99%;
  }
  .rent-content h1 {
    font-size: 44px;
    padding-bottom: 30px;
  }
  .regulations-cards__item {
    display: none;
  }
  .regulations-cards__item_mob {
    display: block;
  }
  .dote_mob_position {
    bottom: 88px;
  }
}

@media (max-width: 550px) {
  .regulations-content {
    padding: 48px 24px 100px 26px;
  }
  .donload-btn {
    padding: 24px 40px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .mob-img {
    left: 29%;
  }
  .regulations-content__live {
    bottom: -40px;
  }
}

@media (max-width: 281px) {
  body {
    min-width: 960px;
  }
}
/*# sourceMappingURL=style.css.map */